@charset "utf-8"



*{
	margin: 0;
	padding: 0;
	outline: none;
  box-sizing: inherit;
}
html {
  height: 100%;
  font-size: 50%;}
body {
	width: 100%;
	height: 100%;
  background-size: unset;
	font-family: "Segoe UI", san-serif;
	line-height: 100%;
  box-sizing: border-box;
  background: black;
}



header {
  float: left;
  width: 100%;
  height: 13%;
  box-sizing: border-box;
}

.dropbtn {
    background-color: black;
    color: white;
    /* padding: 16px; */
    font-size: 2vw;
    border: none;
    border-radius: 10rem;
    width: 7vw;
    height:4vh;
		bottom: 0;
    font-family: gotham_black;
}

.About {
  	position: absolute;
    display: inline-block;
    margin-left: 20vw;
    margin-top: 4vh;
  /*  margin-right: 7%;
    float: right;*/
}

.dropdown-content {
    display: none;
    position: absolute;
    /* min-width: 120px; */
		min-width: 7vw;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    font-size: 1vh;
}

.dropdown-content a {
    color: black;
    padding: 10px 10px;
    text-decoration: none;
    display: block;
    font-family: gotham_black;

}

.dropdown-content a:hover {
  background-color: black;
  color: white;
  font-size: 1.5vh;
}

.About:hover .dropdown-content {
  display: block;
  background-color: white;
}

.About:hover .dropbtn {
  background-color: black;
}



#MainPage {
  position: absolute;
  margin-left:4vw;
  font-size: 2vw;
  margin-top: 7vh;
  color: white;
  text-decoration: none;
  font-family: gotham_black;
}

header img{
  margin-left: 35vw;
  height: 10vh;
  width: 30vw;
  margin-top:2vh;
}

.container {
  position: absolute;
  width: 25rem;
  height: 5%;
  margin-left: 25vw;
  margin-top: -5vh;

     }
  .container a{
    text-decoration: none;
    color: white;
    font-family: gotham_black;
    font-size: 2vw;
  }


#wrapper {
	float: left;
	width: 96%;
	margin-top: 1.5%;
  margin-bottom: 10%;
  margin-left: 2%;
  margin-right: 2%;
  /* background-color: white; */
}

#wrapper #articles {
/* float: left; */
width: 100%;
margin-top: 2vh;
/*margin-left: 1%;*/
}

#wrapper #articles article{
	float: left;
	/*border:1px solid silver;*/
	box-sizing: border-box;
	border-radius: 15px;
	/* background-color: #fafafa; */
	height: 35vh;
  margin-left: 5vw;
  /* margin-right: 10rem; */
  margin-bottom: 5vh;
	border-top: 4px solid green;
	border-right:1px solid green;
  /*max-width: 30%;*/

}


#wrapper #articles article{

	width: 17vw;
	margin-right: 1%;

}


#wrapper #articles article h2{
	width: 100%;
	margin-left: 5%;
  margin-top: 1%;
	font-weight: normal;
	font-size: 1.7em;
	color: white;
  font-family: gotham_black;

}



#blackLine{
  float: left;
  height: 0.5vh;
  width: 100%;
  background-color: black;
  bottom: 0;
}

#main_soc_block {
	width: 100%;
	/*border-bottom: 2px solid silver;
	border-top: : 2px solid silver;*/
  margin-right: auto;
  margin-left: auto;
  float:left;
	height: 4vh;
  color: white;

}
#main_soc_block label{
  font-family: gotham_black;
  font-size: 2vw;
  margin-left: 2vw;
}

footer {
  position: fixed;
  display: grid;
  grid-template-columns: 25% 50% 25%;
  column-gap: 2vw;
  width: 100%;
  height: 10vh;
  background: #1e1e1f;
  bottom: 0;
  float: left;
	border-top: 1px solid green;
}



#left{
  box-sizing: border-box;
  /* background-color: #1e1e1f; */
}

#left #MyAlbum{
  width: 4vw;
  height: 6vh;
  position: absolute;
  margin-left: 2vw;
  margin-top: 2vh;
  border-radius: 5px;
}

#left div{
   margin-left: 7vw;
   margin-top: 4vh;
   font-family: gotham_black;
   color: white;
}

.functionalButtons{
	margin-top: 3.5vh;
}
.functionalButtons li{
  list-style-type: none;
	display: inline-block;
	margin-left: 1vw;
}

#Microphone,#Playlist,#Sound{
  height: 3vh;
  width: 1vw;
}

#center img{
	height: 4vh;
  width: 2.5vw;
}

#center img:hover{
	height: 4.5vh;
  width: 3vw;
}


.functionalButtonsCenter{
	/* margin-right: auto; */
	margin-left: 13vw;
	margin-top: 2vh;
}
.functionalButtonsCenter li {
	display: inline-block;
	list-style-type: none;
	margin-right:1vw;
}

/* Styles For form range*/
input[type=range] {
  -webkit-appearance: none;
  margin: 10px -10px;
  width: 5vw;
	border-radius: 20px;
}
input[type=range]:focus {
  outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 4px;
  cursor: pointer;
  background: white;

  border-radius: 20px;
  /* border: 0.2px solid #010101; */
}
input[type=range]::-webkit-slider-thumb {
  /* border: 1px solid #000000; */
  height: 20px;
  width: 7px;
  border-radius: 3px;
  background: white;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -10px;
}
input[type=range]:focus::-webkit-slider-runnable-track {
  background: #367ebd;
}
input[type=range]::-moz-range-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  background: #3071a9;
  border-radius: 1.3px;
  border: 0.2px solid #010101;
}
input[type=range]::-moz-range-thumb {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: 1px solid #000000;
  height: 36px;
  width: 16px;
  border-radius: 3px;
  background: #ffffff;
  cursor: pointer;
}
input[type=range]::-ms-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  border-width: 16px 0;
  color: transparent;
}
input[type=range]::-ms-fill-lower {
  background: #2a6495;
  border: 0.2px solid #010101;
  border-radius: 2.6px;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}
input[type=range]::-ms-fill-upper {
  background: #3071a9;
  border: 0.2px solid #010101;
  border-radius: 2.6px;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}
input[type=range]::-ms-thumb {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: 1px solid #000000;
  height: 36px;
  width: 16px;
  border-radius: 3px;
  background: #ffffff;
  cursor: pointer;
}
input[type=range]:focus::-ms-fill-lower {
  background: #3071a9;
}
input[type=range]:focus::-ms-fill-upper {
  background: #367ebd;
}


@font-face {
font-family: 'gotham_black';
src:url(./gotham_black.otf);
font-style: normal;
font-weight: normal;
}

@font-face {
font-family: 'gotham_medium';
src:url(./gotham_medium.otf);
font-style: normal;
font-weight: normal;
}
}
